<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <centre>
      <h1>Create User</h1>
      <br />
      <br />
      <form  method="post"  action="/new">
        <input placeholder="Enter Your Username" name="username" }/>
        <br />
        <br />
        <input placeholder="Enter the Email" name ="gmail" />
        <br />
        <br />
        <input placeholder="Enter the Password" name="password" />
        <br />
        <br />
        <button type="submit">Submit</button>
      </form>
    </centre>
  </body>
</html>
