<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Data</h1>
    <% for ( element of datas) { %>
        <p style="color: red; font-size: 2rem; font-weight: 700;"><%= element.username %></p>
        <p><%= element.gmail %></p>
        <p><%= element.password %></p>
        <% } %>
        <a href="http://localhost:2/create">create post</a>
</body>
</html>